html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: var(--secondary-text-color);

  cursor: url('./../images/cursor.png'), pointer;
}

button,
a {
  cursor: url('./../images/cursor.png'), pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
