h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// img {
//   display: block;
//   max-width: 100%;
//   max-height: 100%;
//   height: auto;
// }

.link {
  display: block;
  text-decoration: inherit;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
