@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-text-color);
  cursor: url("./../images/cursor.png"), pointer;
}

button {
  cursor: url("./../images/cursor.png"), pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

:root {
  /* FONTS */
  --main-fonts: "Monserrat", sans-serif;
  --secondary-fonts: "Seymour One", sans-serif;
  --numder-fonts: "Roboto", sans-serif;
  /* COLOR TEXT */
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --white-text-color: #ffffff;
  --light-text-time-color: #ababab;
  /* SITE NAVIGATION  TEXT */
  --defoult-nav-text-color: #f8d24e;
  --hover-nav-text-color: #0a8817;
  --focus-nav-tex-color: #fcfcfc;
  --disable-nav-text-color: #ababab;
  /* SITE BTN  border */
  --defoult-border: 2px solid #f8d24e;
  --hover-focus-border: 2px solid #0a8817;
  --disable-border: 2px solid #ababab;
  /* SITE BTN  bgc */
  --defoult-btn-bgc: #f8d24e;
  --hover-focus-btn-bgc: #0a8817;
  --disable-btn-bgc: #ababab;
  /* LINK TEXT COLOR */
  --footer-link-text-color: #7a7a7a;
  --address-link-text-color: #d6936d;
  /* BACKGROUND SITE COLOR */
  --main-bgc-color: #84a278;
  --white-bgc-color: #ffffff;
  --secondary-bgc-color: #f8d24e;
  /* BGC PRODUCTS CARDS */
  --ice-cream-bgc: #aec6a5;
  --coffee-bgc: #efd478;
  --milk-drinks-bgc: #d6936d;
  /* BORDER PRODUCTS CARDS */
  --ice-cream-border: 2px solid #aec6a5;
  --coffee-border: 2px solid #efd478;
  --milk-drinks-border: 2px solid #d6936d;
  --cards-filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  /* BOX-SHADOW */
  --main-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  /* SLIK DOTS */
  --active-dots-bgc: #84a178;
  --inactive-dots-bgc: #d9d9d9;
  /* MODAL */
  /*  MODAL BORDER */
  --main-modal-border: 2px solid #F8D24E;
  /* INGREDIENTS VARS */
  --ingrediends-border: 2px solid #9CBE8F;
  --ingrediends-bgc: #9CBE8F;
  --ingrediends-bow-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  /* FORM */
  --input-form-bgc: rgba(248, 210, 78, 0.1);
  --form-border: 1px solid #84A178;
  /* anim */
  --animation-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
  background-color: var(--main-bgc-color);
}

.hero__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.btn--border {
  border: var(--defoult-border);
}

.hero-container {
  background-color: var(--main-bgc-color);
}

.hero__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.btn--border {
  border: var(--defoult-border);
}

/* .products-section {
  background-image: url(../images/2-Products/2-bg_sm.png);
  @media screen and (min-width: 768px) {
    background-image: url(../images/2-Products/2-bg_md.png);
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: block;
    padding-bottom: 80px;
  }
}

.products__label {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);

  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 12px;

}

.products__title {
  margin-bottom: 148px;
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.products__list {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 16px;
    flex-direction: row;
    align-items: normal;
  }
    @media screen and (min-width: 1200px) {

      gap: 32px;
    }
}

.products-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 164px;
    } 
  }

  width: 280px;
  background: var(--ice-cream-bgc);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    width: 224px;
    border-radius: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    border-radius: 24px;
    }
} */
/* Псевдоелементи зображення */
/* .cream {
  position: relative;
  &::before {
    content: '';
      position: absolute;
      top: -100px;
      left: 39px;


      width: 200px;
      height: 200px;

      background-image: url(../images/2-Products/pic1/horn_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;

      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic1/horn_md@1x.png);
        top: -100px;
        left: 11px;
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic1/horn_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
  }
}

.cofee {
  background-color: var(--coffee-bgc);
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;


      width: 200px;
      height: 200px;

      background-image: url(../images/2-Products/pic2/cup_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;

      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic2/cup_md@1x.png);
        top: -100px;
        left: 11px;

      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic2/cup_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
    }
}
.shake {
  background-color: var(--milk-drinks-bgc);
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;


      width: 200px;
      height: 200px;

      background-image: url(../images/2-Products/pic3/shake_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;

      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic3/shake_md@1x.png);
        top: -100px;
        left: 11px;
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic3/shake_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
    }
} */
/* Кінець */
/* .products-item__title {

  padding-top: 120px;
  padding-bottom: 40px;
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    padding-top: 110px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 166px;
    padding-bottom: 65px;
  }
}

.products-item__desc {
    padding-bottom: 110px;
    padding-left: 42px;
    padding-right: 42px;
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
} */
.products-section {
  background-image: url(../images/2-Products/2-bg_sm.png);
}
@media screen and (min-width: 768px) {
  .products-section {
    background-image: url(../images/2-Products/2-bg_md.png);
  }
}
@media screen and (min-width: 768px) {
  .products-section {
    background-image: url(../images/2-Products/3-bg_lg.png);
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .products {
    display: block;
    padding-bottom: 80px;
  }
}
.products__label {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}
.products__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    gap: 16px;
  }
}

.products-item {
  width: 280px;
  /* height: 420px; */
  border-radius: 24px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .products-item {
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item {
    width: 370px;
    /* height: 535px; */
  }
}
.products-item__title {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  padding-top: 123px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products-item__title {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products-item__title {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}
.products-item__desc {
  width: 200px;
  margin: 0 auto;
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .products-item__desc {
    width: 170px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products-item__desc {
    width: 242px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.cream {
  background: var(--ice-cream-bgc);
  border: var(--ice-cream-border);
  position: relative;
}
@media screen and (max-width: 767px) {
  .cream {
    margin-bottom: 164px;
  }
}
.cream::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 39px;
  width: 200px;
  height: 200px;
  background-image: url(../images/2-Products/pic1/horn_sm@1x.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border: none;
}
@media screen and (min-width: 768px) {
  .cream::before {
    background-image: url(../images/2-Products/pic1/horn_md@1x.png);
    top: -100px;
    left: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .cream::before {
    background-image: url(../images/2-Products/pic1/horn_lg@1x.png);
    background-size: 300px 300px;
    width: 100%;
    height: 100%;
    top: -150px;
    left: 33px;
  }
}

.cofee {
  background: var(--coffee-bgc);
  border: var(--coffee-border);
  position: relative;
}
@media screen and (max-width: 767px) {
  .cofee {
    margin-bottom: 164px;
  }
}
.cofee::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 39px;
  width: 200px;
  height: 200px;
  background-image: url(../images/2-Products/pic2/cup_sm@1x.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border: none;
}
@media screen and (min-width: 768px) {
  .cofee::before {
    background-image: url(../images/2-Products/pic2/cup_md@1x.png);
    top: -100px;
    left: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .cofee::before {
    background-image: url(../images/2-Products/pic2/cup_lg@1x.png);
    background-size: 300px 300px;
    width: 100%;
    height: 100%;
    top: -150px;
    left: 33px;
  }
}

.shake {
  background: var(--milk-drinks-bgc);
  border: var(--milk-drinks-border);
  position: relative;
}
.shake::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 39px;
  width: 200px;
  height: 200px;
  background-image: url(../images/2-Products/pic3/shake_sm@1x.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  border: none;
}
@media screen and (min-width: 768px) {
  .shake::before {
    background-image: url(../images/2-Products/pic3/shake_md@1x.png);
    top: -100px;
    left: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .shake::before {
    background-image: url(../images/2-Products/pic3/shake_lg@1x.png);
    background-size: 300px 300px;
    width: 100%;
    height: 100%;
    top: -150px;
    left: 33px;
  }
}

.product-btn {
  display: block;
  padding: 0%;
  margin: 0% auto 20px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .product-btn {
    margin: 0 auto 60px;
  }
}

.contact--bg {
  background-color: var(--main-bgc-color);
  padding-bottom: 40px;
}

.contact {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    gap: 32px;
  }
}

.contact__item {
  width: 100%;
  padding: 40px 32px;
  background-color: var(--main-text-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 24px;
}
.contact__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact__item {
    flex-basis: calc((100% - 32px) / 3);
    padding: 40px 24px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    flex-basis: calc((100% - 32px) / 3);
    max-width: 368px;
    padding: 40px;
    font-size: 16px;
  }
}

.contact__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  background-color: var(--defoult-nav-text-color);
  border-radius: 4px;
  display: inline-block;
  min-height: 16px;
  padding: 0 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contact__label {
    font-size: 16px;
    line-height: 1.875;
  }
}

.address {
  margin-bottom: 24px;
}

.address__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .address__city {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .address__city {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}

.address__link {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--address-link-text-color);
}
@media screen and (min-width: 768px) {
  .address__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .address__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}

.date {
  padding: 24px 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
.date__item:not(:last-child) {
  margin-bottom: 8px;
}
.date__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
}
.date__date__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: var(--light-text-time-color);
}

.info {
  padding-top: 24px;
}
.info__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .info__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .info__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}

.contact-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contact-btn {
    flex-direction: row;
    justify-content: center;
  }
}/*# sourceMappingURL=index.css.map */