<!-- advantages -->
<section class="section section__advantages">
    <div class="container advantages">
      <h2 class="hidden">advantages</h2>
      <ul class="advantages__list">
        <li class="advantages__item">
              <span class="advantages__number cow">721</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
              <span class="advantages__number weight">16kg</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
              <span class="advantages__number icecream">84</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
</section>