<section class="contact--bg" id="contacts">
  <div class="container">
    <h2 class="hidden">contacts</h2>
    <ul class="contact">
      <li class="contact__item">
        <strong class="contact__label">CAFE</strong>
        <address class="address">
          <p class="address__city">Chicago</p>
          <a
            class="address__link"
            href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034056,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=ru"
            target="_blank"
            rel="noopener noreferrer"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="date">
          <li class="date__item">
            <p class="date__day">Monday - Friday</p>
            <p class="date__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="date__item">
            <p class="date__day">Saturday - Sunday</p>
            <p class="date__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="info">
          <li class="info__item">
            <a href="tel:+610383766284 " class="info__link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="info__item">
            <a href="mailto:noreply@envato.com" class="info__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contact__item">
        <strong class="contact__label">FOODTRUCK</strong>
        <address class="address">
          <p class="address__city">Los Angeles</p>
          <a
            class="address__link"
            href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
            target="_blank"
            rel="noopener noreferrer"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="date">
          <li class="date__item">
            <p class="date__day">Monday - Friday</p>
            <p class="date__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="date__item">
            <p class="date__day">Saturday - Sunday</p>
            <p class="date__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="info">
          <li class="info__item">
            <a href="" class="info__link">+61(0) 383 766 284 </a>
          </li>
          <li class="info__item">
            <a href="" class="info__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contact__item">
        <strong class="contact__label">CAFE</strong>
        <address class="address">
          <p class="address__city">New York</p>
          <a
            class="address__link"
            href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
            target="_blank"
            rel="noopener noreferrer"
            >726 Sterling Pl, Brooklyn, NY 11222,<br />
            USA</a
          >
        </address>
        <ul class="date">
          <li class="date__item">
            <p class="date__day">Monday - Friday</p>
            <p class="date__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="date__item">
            <p class="date__day">Saturday - Sunday</p>
            <p class="date__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="info">
          <li class="info__item">
            <a href="tel:+610383766284 " class="info__link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="info__item">
            <a href="mailto:noreply@envato.com" class="info__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contact-btn">
      <li class="contact-btn__item">
        <button class="footer__btn" type="button" data-location-modal-open="3">
          Our Locations
          <svg class="contact-btn__icon" width="12" height="12">
            <use href="./images/sprite.svg#vector-btn"></use>
          </svg>
        </button>
      </li>
      <li class="contact-btn__item">
        <button
          class="franchise__btn"
          type="button"
          data-franchise-modal-open="1"
        >
          Franchise
          <svg class="contact-btn__icon" width="12" height="12">
            <use href="./images/sprite.svg#vector-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
