<footer class="footer">
  <div class="container footer-container">
      <div class="footer-section__title">
        <p class="footer-section__title--one">homemade ice cream made</p>
        <p class="footer-section__title--two">with passion</p>
      </div>
      <div class="contacts">
        <ul class="contacts-social__list">
          <li class="contacts-social__item">
            <a
              class="contacts-social__link"
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="contacts-social__icon" width="20" height="20">
                <use href="./images/sprite.svg#git-def"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-social__item">
            <a
              class="contacts-social__link"
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Telegram"
            >
              <svg class="contacts-social__icon" width="20" height="20">
                <use href="./images/sprite.svg#telegram-def"></use>
              </svg>
            </a>
          </li>
          <li class="contacts-social__item">
            <a
              class="contacts-social__link"
              href="https://facebook.com"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Facebook"
            >
              <svg class="contacts-social__icon" width="20" height="20">
                <use href="./images/sprite.svg#fb-def"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="contacts-social__phone" href="tel:+61(0)383766284">
          <span class="contacts-social__phone--text">Feel free to contact</span>
          +61 (0) 383 766 284
        </a>
      </div>
  </div>
    <div class="container footer-copyright">
      <span class="footer-copyright__text">&#169; 2022 - IceCream.</span>
      All Rights Reserved.
    </div>
</footer>
