<header class="header">
  <div class="header__container container">
    <a class="header__logo logo link" href="">
      <img
        srcset="
          ./images/logo/Logo-L-2400.png 2400w,
          ./images/logo/Logo-L-1200.png 1200w,
          ./images/logo/Logo-m-768.png   768w,
          ./images/logo/Logo-m-1536.png 1536w,
          ./images/logo/Logo-s-960.png   960w,
          ./images/logo/Logo-s-480.png   480w
        "
        sizes="100vw"
        src="./images/logo/Logo-s-480.png"
        alt="морозиво яке зображене як логотип компаніі"
      />
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="mav__item"><a class="nav__link link">Home</a></li>
        <li class="mav__item"><a class="nav__link link">How it's made?</a></li>
        <li class="mav__item"><a class="nav__link link">Our products</a></li>
        <li class="mav__item"><a class="nav__link link">Contact</a></li>
      </ul>
    </nav>
    <button class="header__menu">
      <svg class="header__menu-icon" width="32" height="32">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <button class="header__btn">
      Buy now
      <svg class="header__btn-icon" width="12" height="12"></svg>
    </button>
  </div>
</header>
