<section class="section section--no-padding-bottom">
  <div class="container hero-container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <ul class="anchors">
      <li class="anchors__item">
        <button class="btn btn--border" type="button">
          <a class="link" href="#products">Products</a>
        </button>
      </li>
      <li class="anchors__item">
        <button class="btn btn-transparent" type="button">
          <a class="link link--underline" href="#about">How it’s made?</a>
        </button>
      </li>
    </ul>

    <ul class="hero-images">
      <li class="hero-images__item">
        <span class="hero-images__icon icon--bg-dots"></span>
      </li>
      <li class="hero-images__item">
        <span class="hero-images__icon icon-ice-cream"></span>
      </li>
    </ul>
  </div>
</section>
