<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="" class="menu-logo">
    <picture>
      <!--Tablet-->

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/logo/Logo-m-768.png  1x,
          ./images/logo/Logo-m-1536.png 2x
        "
      />

      <!--Mobile-->

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/logo/Logo-s-480.png 1x,
          ./images/logo/Logo-s-960.png 2x
        "
      />

      <img src="./images/logo/Logo-s-480.png" alt="Logo Ice Cream Com" />
    </picture>
  </a>

  <button class="menu-toggle js-close-menu" type="button" aria-expanded="false">
    <svg class="modile__icon-cross" width="32" height="32">
      <use href="./images/sprite.svg#close-white"></use>
    </svg>
  </button>

  <nav>
    <ul class="mobile-menu__list">
      <li class="mobile-nav__item">
        <a href="#home" class="mobile-nav__link">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">How it’s made?</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#products" class="mobile-nav__link">Our products</a>
      </li>
      <li class="mobile-nav__item mobile-nav__item--no-margin">
        <a href="#contacts" class="mobile-nav__link">Contact</a>
      </li>
    </ul>
    <div class="mobile__buttom--pos">
      <button class="mobile__btn" type="button" data-mobile-open="9">
        Buy now
        <svg class="header__btn-icon" width="12" height="12">
          <use href="./images/sprite.svg#vector-btn"></use>
        </svg>
      </button>
    </div>
  </nav>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>

<!-- Mobile modal -->
<div class="backdrop is-hidden" data-mobile-modal="9">
  <div class="header-modal">
    <button class="header-modal__btn" type="button" data-mobile-close="9">
      <svg class="header-modal__icon-close" width="20" height="20">
        <use href="./images/sprite.svg#close-black"></use>
      </svg>
    </button>

    <h2 class="header-modal__title">Buy now</h2>
    <ul class="header-modal__list">
      <li class="header-modal__item">
        <label class="header-modal__label--green header-modal__text">
          <input
            class="header-modal__input-checkbox hidden"
            type="checkbox"
          />ice cream</label
        >
      </li>
      <li class="header-modal__item">
        <label class="header-modal__label--yellow header-modal__text">
          <input
            class="header-modal__input-checkbox hidden"
            type="checkbox"
          />ice coffee</label
        >
      </li>
      <li class="header-modal__item">
        <label class="header-modal__label--brown header-modal__text">
          <input
            class="header-modal__input-checkbox hidden"
            type="checkbox"
          />milkshake</label
        >
      </li>
    </ul>
    <form class="form-modal">
      <div class="form-modal__box">
        <label class="form-modal__label">
          <input
            class="form-modal__input"
            type="text"
            name="name"
            placeholder="Name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇъЪёЁ`]+"
          />
        </label>
        <label class="form-modal__label">
          <input
            class="form-modal__input"
            type="tel"
            name="tel"
            placeholder="Phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="XXX-XXX-XX-XX"
          /> </label
        ><label class="form-modal__label">
          <textarea
            class="form-modal__input form-modal__textarea"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </label>
      </div>

      <button class="form-modal__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
