<section class="products-section" id="products">
  <div class="container products">
    <p class="products__label">100% natural</p>
    <h2 class="products__title" id="productshero">products</h2>
    <ul class="products__list">
      <li class="cream products-item">
        <h3 class="products-item__title">ice cream</h3>
        <p class="products-item__desc cream-desc">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product-btn" type="button" data-modal-open="4">
          <svg class="arrow-icon">
            <use
              class="arrow-icon__def"
              href="./images/sprite.svg#arrow-def"
            ></use>
            <use
              class="arrow-icon__hover"
              href="./images/sprite.svg#arrow-hover"
            ></use>
            <use
              class="arrow-icon__focus"
              href="./images/sprite.svg#arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="cofee products-item">
        <h3 class="products-item__title">ice coffee</h3>
        <p class="products-item__desc cofee-desc">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product-btn" type="button" data-modal1-open="5">
          <svg class="arrow-icon">
            <use
              class="arrow-icon__def"
              href="./images/sprite.svg#arrow-def"
            ></use>
            <use
              class="arrow-icon__hover"
              href="./images/sprite.svg#arrow-hover"
            ></use>
            <use
              class="arrow-icon__focus"
              href="./images/sprite.svg#arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="shake products-item">
        <h3 class="products-item__title">milkshakes</h3>
        <p class="products-item__desc shake-desc">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product-btn" type="button" data-modal2-open="6">
          <svg class="arrow-icon">
            <use
              class="arrow-icon__def"
              href="./images/sprite.svg#arrow-def"
            ></use>
            <use
              class="arrow-icon__hover"
              href="./images/sprite.svg#arrow-hover"
            ></use>
            <use
              class="arrow-icon__focus"
              href="./images/sprite.svg#arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<div class="backdrop is-hidden" data-modal="4">
  <div class="modal">
    <button class="modal__btn close" type="button" data-modal-close="4">
      <svg class="modal__svg-btn" width="20" height="20">
        <use href="./images/sprite.svg#close-black"></use>
      </svg>
    </button>
    <h2 class="products-modal_titel">Chololate icecream</h2>
    <div class="products-modal_img-circle">
      <span class="circle">
        <img
          class="products-modal_img"
          srcset="
            ./images/modal/ingredients/chololate@1x.jpg 132w,
            ./images/modal/ingredients/chololate@2x.jpg 164w
          "
          sizes="(min-width: 320px) 132px, 100vw"
          src="./images/modal/ingredients/chololate@1x.jpg"
          alt="icecream"
        />
      </span>
    </div>

    <ul class="products-modal_contents">
      <li class="products-modal_contents-item item">
        <p class="products-modal_contents-text">kcal</p>

        <div class="elips"><span class="span-text">320</span></div>
      </li>
      <li class="products-modal_contents-item item1">
        <p class="products-modal_contents-text">Prote...</p>

        <div class="elips"><span class="span-text">4g</span></div>
      </li>
      <li class="products-modal_contents-item item2">
        <p class="products-modal_contents-text">Fats</p>

        <div class="elips"><span class="span-text">8,2g</span></div>
      </li>
      <li class="products-modal_contents-item item3">
        <p class="products-modal_contents-text">Carbs</p>

        <div class="elips"><span class="span-text">40,4g</span></div>
      </li>
    </ul>
    <h3 class="products-modal_subtitel">Ingredients</h3>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Milk</li>
      <li class="products-modal_subtitel-item">100ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Belgian chocolate</li>
      <li class="products-modal_subtitel-item">20g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cream</li>
      <li class="products-modal_subtitel-item">150 ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cocoa powder</li>
      <li class="products-modal_subtitel-item">30g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Sugar</li>
      <li class="products-modal_subtitel-item">40g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Vanilla sugar</li>
      <li class="products-modal_subtitel-item">10g</li>
    </ul>
    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="text"
        name="username"
        required
        placeholder="Name"
      />
    </label>

    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="tel"
        name="phone_number"
        required
        placeholder="Phone"
      />
    </label>
    <label class="products-modal__label">
      <textarea
        class="products-modal__mesage"
        name="feedback"
        rows="5"
        placeholder="Comment"
      ></textarea>
    </label>
    <div class="products-modal-submit">
      <button class="products-modal__btn" type="submit">Submit</button>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" data-modal1="5">
  <div class="modal-icecoffee">
    <button class="modal__btn closes" type="button" data-modal1-close="5">
      <svg class="modal__svg-btn" width="20" height="20">
        <use href="./images/sprite.svg#close-black"></use>
      </svg>
    </button>
    <h2 class="products-modal_titel">Chololate icecream</h2>
    <div class="products-modal_img-circle">
      <span class="circle">
        <img
          class="products-modal_img"
          srcset="
            ./images/modal/ingredients/chololate@1x.jpg 132w,
            ./images/modal/ingredients/chololate@2x.jpg 164w
          "
          sizes="(min-width: 320px) 132px, 100vw"
          src="./images/modal/ingredients/chololate@1x.jpg"
          alt="icecream"
        />
      </span>
    </div>

    <ul class="products-modal_contents">
      <li class="products-modal_contents-item item4">
        <p class="products-modal_contents-text">kcal</p>

        <div class="elips"><span class="span-text">320</span></div>
      </li>
      <li class="products-modal_contents-item item5">
        <p class="products-modal_contents-text">Prote...</p>

        <div class="elips"><span class="span-text">4g</span></div>
      </li>
      <li class="products-modal_contents-item item6">
        <p class="products-modal_contents-text">Fats</p>

        <div class="elips"><span class="span-text">8,2g</span></div>
      </li>
      <li class="products-modal_contents-item item7">
        <p class="products-modal_contents-text">Carbs</p>

        <div class="elips"><span class="span-text">40,4g</span></div>
      </li>
    </ul>
    <h3 class="products-modal_subtitel">Ingredients</h3>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Milk</li>
      <li class="products-modal_subtitel-item">100ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Belgian chocolate</li>
      <li class="products-modal_subtitel-item">20g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cream</li>
      <li class="products-modal_subtitel-item">150 ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cocoa powder</li>
      <li class="products-modal_subtitel-item">30g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Sugar</li>
      <li class="products-modal_subtitel-item">40g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Vanilla sugar</li>
      <li class="products-modal_subtitel-item">10g</li>
    </ul>
    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="text"
        name="username"
        required
        placeholder="Name"
      />
    </label>

    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="tel"
        name="phone_number"
        required
        placeholder="Phone"
      />
    </label>
    <label class="products-modal__label">
      <textarea
        class="products-modal__mesage"
        name="feedback"
        rows="5"
        placeholder="Comment"
      ></textarea>
    </label>
    <div class="products-modal-submit">
      <button class="products-modal__btn" type="submit">Submit</button>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" data-modal2="6">
  <div class="modal-milkshakes">
    <button class="modal__btn closess" type="button" data-modal2-close="6">
      <svg class="modal__svg-btn" width="20" height="20">
        <use href="./images/sprite.svg#close-black"></use>
      </svg>
    </button>
    <h2 class="products-modal_titel">Chololate icecream</h2>
    <div class="products-modal_img-circle">
      <span class="circle">
        <img
          class="products-modal_img"
          srcset="
            ./images/modal/ingredients/chololate@1x.jpg 132w,
            ./images/modal/ingredients/chololate@2x.jpg 164w
          "
          sizes="(min-width: 320px) 132px, 100vw"
          src="./images/modal/ingredients/chololate@1x.jpg"
          alt="icecream"
        />
      </span>
    </div>

    <ul class="products-modal_contents">
      <li class="products-modal_contents-item item8">
        <p class="products-modal_contents-text">kcal</p>

        <div class="elips"><span class="span-text">320</span></div>
      </li>
      <li class="products-modal_contents-item item9">
        <p class="products-modal_contents-text">Prote...</p>

        <div class="elips"><span class="span-text">4g</span></div>
      </li>
      <li class="products-modal_contents-item item10">
        <p class="products-modal_contents-text">Fats</p>

        <div class="elips"><span class="span-text">8,2g</span></div>
      </li>
      <li class="products-modal_contents-item item11">
        <p class="products-modal_contents-text">Carbs</p>

        <div class="elips"><span class="span-text">40,4g</span></div>
      </li>
    </ul>
    <h3 class="products-modal_subtitel">Ingredients</h3>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Milk</li>
      <li class="products-modal_subtitel-item">100ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Belgian chocolate</li>
      <li class="products-modal_subtitel-item">20g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cream</li>
      <li class="products-modal_subtitel-item">150 ml</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Cocoa powder</li>
      <li class="products-modal_subtitel-item">30g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Sugar</li>
      <li class="products-modal_subtitel-item">40g</li>
    </ul>
    <ul class="products-modal_subtitel-list">
      <li class="products-modal_subtitel-item">Vanilla sugar</li>
      <li class="products-modal_subtitel-item">10g</li>
    </ul>
    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="text"
        name="username"
        required
        placeholder="Name"
      />
    </label>

    <label class="products-modal__label">
      <input
        class="products-modal__input"
        type="tel"
        name="phone_number"
        required
        placeholder="Phone"
      />
    </label>
    <label class="products-modal__label">
      <textarea
        class="products-modal__mesage"
        name="feedback"
        rows="5"
        placeholder="Comment"
      ></textarea>
    </label>
    <div class="products-modal-submit">
      <button class="products-modal__btn" type="submit">Submit</button>
    </div>
  </div>
</div>
