//Products btn

//mobile
//tablet

.btn {
  position: absolute;
  width: 64px;
  min-height: 24px;
  //padding: 10px 23px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 8px;
  line-height: calc(10 / 8);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #000000;

  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #f8d24e;
  //transition: color var(--animation);

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    border: 2px solid #0a8817;
  }

  &:disabled {
    border: 2px solid #ababab;
  }

  //desktop

  @media screen and (min-width: 1200px) {
    width: 134px;
    min-height: 42px;
    padding: 12px 34px;
    font-size: 14px;
    line-height: calc(18 / 14);

    border-radius: 10px;
  }
}

//Read more btn

.hero__btn {
  position: absolute;
  width: 164px;
  min-height: 42px;
  padding: 12px 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #000000;

  background: #f8d24e;
  border-radius: 10px;

  &:hover {
    background: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    background: #0a8817;
  }

  &:disabled {
    background: #ababab;
  }
}

//Our Locations btn

.footer__btn {
  // position: absolute;
  width: 196px;
  min-height: 42px;
  // padding: 12px 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  // text-align: center;
  cursor: url('./../images/cursor.png'), pointer;
  color: #131313;

  background: #f8d24e;
  border-radius: 10px;
  border: none;

  transition: color var(--anim), background-color var(--anim);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }
}

//Franchise btn

.franchise__btn {
  // position: absolute;
  width: 192px;
  min-height: 42px;
  // padding: 12px 34px;
  // margin-right: auto;
  // margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  // text-align: center;
  cursor: url('./../images/cursor.png'), pointer;
  color: #000000;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transition: color var(--anim), border var(--anim);

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    border: 2px solid #0a8817;
  }

  &:disabled {
    border: 2px solid #ababab;
  }
}

//Buy now btn

.header__btn {
  // position: absolute;
  width: 152px;
  height: 42px;
  padding: 12px 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  display: flex;
  gap: 7px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  border: none;

  background: #f8d24e;
  border-radius: 10px;
  margin-left: auto;

  transition: color var(--anim);
  transition: background-color var(--anim);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }
}
