.btn-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;

    display: none;
    width: 50px;
    height: 50px;

    background-color: var(--secondary-bgc-color);
    border-radius: 50%;

    opacity: .8;


    @media screen and (min-width: 768px) {
        bottom: 50px;
        right: 50px;
        width: 60px;
        height: 60px;
    }

    &:hover,
    &:focus{
        filter: brightness(1.2);
    }

    &::before,
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before{
        content: '';
        width: 6px;
        height: 26px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        background-color: #ffffff;
    }

    &::after{
        content: '';
        width: 16px;
        height: 16px;
        transform: translate(-50%, -65%) rotate(45deg);

        border-top: 6px solid #ffffff;
        border-left: 6px solid #ffffff;
    }
}