.overflow {
  overflow: hidden;
}

.header-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #85a279;
  padding: 0;
  border: #85a279;
  cursor: pointer;
  background-color: transparent;
  //transition: color var(--animation);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 22px 23px;
  width: 100%;
  height: 100%;
  background-color: #85a279;
  transform: translateX(100%);
  transition: transform 400ms;

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    padding-top: 140px;
  }
}

.menu-logo {
  width: 40px;
  height: 37px;
  position: absolute;
  top: 12px;
  left: 31px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 32px;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.mobile-nav__item--no-margin {
  margin-bottom: 110px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.mobile-nav__link {
  text-decoration: none;
  color: currentColor;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  text-align: center;

  color: #fcfcfc;
  //transition: color var(--animation);

  &:hover,
  &:focus {
    color: #131313;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.mobile__buttom--pos {
  justify-content: center;
  display: flex;
}

//Buy now btn

.mobile__btn {
  //   margin-left: auto;
  //   margin-right: auto;
  //   position: relative;
  //   width: 152px;
  //   min-height: 42px;
  //   padding: 12px 34px;
  //   font-family: 'Montserrat';
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 14px;
  //   line-height: calc(17 / 14);
  //   display: flex;
  //   align-items: center;
  //   text-align: center;
  //   cursor: pointer;
  //   color: #000000;

  //   background: #f8d24e;
  //   border-radius: 10px;

  //   &:hover {
  //     background: #0a8817;
  //   }

  //   &:focus {
  //     color: #fcfcfc;
  //     background: #0a8817;
  //   }

  //   &:disabled {
  //     background: #ababab;
  //   }
  margin: 0 auto;
  width: 152px;
  height: 42px;
  padding: 12px 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  display: flex;
  gap: 7px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  border: none;

  background: #f8d24e;
  border-radius: 10px;
  margin-left: auto;

  transition: color var(--anim);
  transition: background-color var(--anim);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    background-color: #0a8817;
  }

  &:disabled {
    background-color: #ababab;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
