.advantages {

    padding-top: 20px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 204px;
       }

    @media screen and (min-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 180px;
       }
}
.section__advantages{
        width: 100%;
        background-color: var(--main-bgc-color);
}
.advantages__list{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 80px;
       }
       @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 32px;
       }
}
.advantages__item{
    flex-basis: auto;
    text-align: center;
    margin-bottom: 27px;
}

.advantages__item:last-child{
    margin-bottom: 0;
}
.advantages__number{

    display: block;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}
.cow::before{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 16px;
    content: "";
    background-image: url(.././images/4-Advantages/cow.png);
    @media screen and (min-width: 768px) {
        margin: 0 auto 32px;
       }
}
.weight::before{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 16px;
    content: "";
    background-image: url(.././images/4-Advantages/weight.png);
   
    @media screen and (min-width: 768px) {
        margin: 0 auto 32px;
       }
}
.icecream::before{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 16px;
    content: "";
    background-image: url(.././images/4-Advantages/icecrem.png);
    @media screen and (min-width: 768px) {
        margin: 0 auto 32px;
       }
}
.advantages__number{
    margin-bottom: 18px;

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--main-text-color);
    letter-spacing: 00.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
       font-size: 48px;
       line-height: 1.22;
       }
    
       @media screen and (min-width: 1200px) {
        font-size: 58px;
        }
}
.advantages__text{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.74;
        font-weight: 400;
        }
     
        @media screen and (min-width: 1200px) {
         font-size: 16px;
         line-height: 1.76;
         }
}