.section-wrapper{
    background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_lg.png');
    background-position: top, bottom, 50%;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 24px, 100% 1065px, contain;

    padding-bottom: 1px;


    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_@2x.png');
    }

    @media screen and (min-width: 768px) {
            background-size: 100% 163px, 100% 225px, contain;
            background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_@2x.png');
            }
    }

    @media screen and (min-width: 1200px) {
            background-size: 100% 93px, 100% 442px, contain;
            background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(#84a178, #84a178), linear-gradient(#84a178, #84a178), url('./../images/6-Reviews/bg-reviews_@2x.png');
            }
    }
}

.gallery{
    padding-bottom: 80px;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
    }
}

.gallery-slick{
    width: 279px;
    height: 130px;
    background-color: #fcfcfc;
    border-radius: 24px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and(min-width: 350px) {
        width: 320px;
        height: 170px;
    }

    @media screen and(min-width: 480px) {
        width: 440px;
        height: 200px;
    }

    @media screen and(min-width: 768px) {
        width: 704px;
        height: 327px;
    }

     @media screen and(min-width: 1200px) {
        width: 1013px;
        height: 422px;
    }

    &__item{
        width: 100%;
        height: 100%;
    }

    &__img{
        width: 100%;
    }
}
