.header-modal {
  overflow: auto;
  height: 100%;
  width: 280px;
  background-color: var(--main-text-color);
  border: 2px solid var(--defoult-nav-text-color);
  border-radius: 10px;
  margin: 0 auto;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 54px;
   
    max-height: 644px;
  }
    @media screen and (max-width: 1199px) {
      max-width: 568px;
      max-height: 644px;
    }
}
.header-modal__btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: 0 0;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header-modal__title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-family: var(--secondary-fonts);
  font-weight: 400;
  margin-bottom: 84px;
  font-size: 16px;
  line-height: 1.4;
}

.header-modal__list {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 40px;
  display: flex;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}
.header-modal__item {
  width: 132px;
  text-align: center;
  filter: var(--cards-filter);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-modal__text {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  border-radius: 16px;
  padding-top: 95px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  display: block;
  cursor: pointer;
}
.header-modal__label--green {
  border: var(--ice-cream-border);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--ice-cream-bgc);
  }
}
.header-modal__label--green:before {
  content: '';
  width: 160px;
  height: 160px;
  background-image: url(/src/images/modal/buy_now/horn-modal@1x.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -50%;
  left: -14px;
}

.header-modal__label--yellow {
  border: var(--coffee-border);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--coffee-bgc);
  }
}

.header-modal__label--yellow:before {
  content: '';
  width: 160px;
  height: 160px;
  background-image: url(/src/images/modal/buy_now/cup-modal@1x.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -50%;
  left: -14px;
}
.header-modal__label--brown {
  border: var(--milk-drinks-border);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--milk-drinks-bgc);
  }
}

.header-modal__label--brown:before {
  content: '';
  width: 160px;
  height: 160px;
  background-image: url(/src/images/modal/buy_now/shake-modal@1x.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: -50%;
  left: -14px;
}

.form-modal {
  max-width: 368px;
  width: 100%;
  margin: 0 auto;
}

.form-modal__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.form-modal__input {
  width: 100%;
  cursor: pointer;
  background-color: var(--input-form-bgc);
  border: var(--form-border);
  border-radius: 10px;
  outline: rgba(0, 0, 0, 0);
  padding: 11px 10px;

  @media screen and (min-width: 480px) {
    padding: 11px 16px;
  }
}

.form-modal__input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.form-modal__textarea {
  height: 84px;
  resize: none;
  display: block;
  overflow: auto;
}
.form-modal__btn {
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bgc-color);
  border: none;
  border-radius: 10px;
  align-items: center;
  padding: 12px 34px;
  font-family: var(--main-fonts);
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21429;
}
// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1000;
//   opacity: 1;
//   background-color: rgba(105, 160, 107, 0.705);
//   transition: opacity 0.25s ease-in, visibility 0.25s ease-in;
// }

// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: hidden;
//}