.hero-container {
  background-color: var(--main-bgc-color);
  position: relative;
}

.hero__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--main-text-color);
}

.btn--border {
  border: var(--defoult-border);
}

.btn--transparent {
  background-color: transparent;
}

.icon-ice-cream {
  position: absolute;
  left:62px;
  bottom: 0;

  background-image: url();
}

.icon--bg-dots {
  position: absolute;
  left: 0;
  bottom: 0;

  background-image: url();
}

.link--underline {
  
}