.location-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  max-width: 280px;
  min-height: 365px;
  background-color: var(--main-text-color);

  transition: opacity .25s linear, visibility .25s linear;

  border-radius: 10px;
  padding: 28px;
  border: var(--main-modal-border);

    @media screen and (min-width: 768px) {
    max-width: 568px;
    max-height: 458px;
    }
 
}

.location-modal__close-button {
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: rgba(19, 19, 19, 1);
  background-color: var(--main-text-color);
  cursor: url('./../images/cursor.png'), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.location-modal__close-btn {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location-modal__close-button:hover .flocation-modal__close-btn {
  fill: rgba(248, 210, 78, 1);
}

.location-modal__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  align-items: center;
  text-align: center;

  color: var(--secondary-text-color);

  margin-bottom: 20px;
}

.location-modal__wrap {
    max-width: 224px;
    min-height: 199px;
    margin: 0 auto;

    margin-bottom: 24px;

  @media screen and (min-width: 768px){
      max-width: 448px;
      min-height: 260px;
  }
}

.location-modal__map{
    width: 224px;
    height: 199px;

    border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
  }
}

.location-modal__link{
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  font-style: normal;

  
  
  color: var(--secondary-text-color);
  cursor: url('./../images/cursor.png'), pointer;
}

.location-modal__btn {
  display: block;
  margin: 0 auto;
  color: var(--hero-text);
  background-color: var(--defoult-btn-bgc);
  width: 134px;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
}
