.location-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 280px;
  min-height: 365px;
  background-color: var(--main-text-color);

  border-radius: 10px;
  padding: 28px;
  @media screen and (min-width: 1200px) {
    max-width: 568px;
    max-height: 458px;
  }
  border: var(--main-modal-border);
}

.location-modal__close-button {
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: rgba(19, 19, 19, 1);
  background-color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    top: 20px;
    right: 20px;
  }
}

.location-modal__close-btn {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location-modal__close-button:hover .flocation-modal__close-btn {
  fill: rgba(248, 210, 78, 1);
}

.location-modal__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

  align-items: center;
  text-align: center;

  color: var(--secondary-text-color);

  margin-bottom: 20px;
}

.location-modal__pic {
  margin-bottom: 24px;
}

.location-modal__btn {
  display: block;
  margin: 0 auto;

  color: var(--hero-text);
  background-color: var(--defoult-btn-bgc);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  min-width: 134px;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
}
