/* .products-section {
  background-image: url(../images/2-Products/2-bg_sm.png);
  @media screen and (min-width: 768px) {
    background-image: url(../images/2-Products/2-bg_md.png);
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: block;
    padding-bottom: 80px;
  }
}

.products__label {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);

  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 12px;

}

.products__title {
  margin-bottom: 148px;
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.products__list {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 16px;
    flex-direction: row;
    align-items: normal;
  }
    @media screen and (min-width: 1200px) {
      
      gap: 32px;
    }
}

.products-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 164px;
    } 
  }

  width: 280px;
  background: var(--ice-cream-bgc);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    width: 224px;
    border-radius: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    border-radius: 24px;
    }
} */
/* Псевдоелементи зображення */
/* .cream {
  position: relative;
  &::before {
    content: '';
      position: absolute;
      top: -100px;
      left: 39px;
    
    
      width: 200px;
      height: 200px;
    
      background-image: url(../images/2-Products/pic1/horn_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
    
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic1/horn_md@1x.png);
        top: -100px;
        left: 11px;
      }
    
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic1/horn_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
  }
}

.cofee {
  background-color: var(--coffee-bgc);
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;
  
  
      width: 200px;
      height: 200px;
  
      background-image: url(../images/2-Products/pic2/cup_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
  
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic2/cup_md@1x.png);
        top: -100px;
        left: 11px;
        
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic2/cup_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
    }
}
.shake {
  background-color: var(--milk-drinks-bgc);
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;
  
  
      width: 200px;
      height: 200px;
  
      background-image: url(../images/2-Products/pic3/shake_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
  
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic3/shake_md@1x.png);
        top: -100px;
        left: 11px;
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic3/shake_lg@1x.png);
        background-size: 300px 300px;
          width: 100%;
          height: 100%;
          top: -150px;
          left: 33px;
      }
    }
} */
/* Кінець */

/* .products-item__title {
  
  padding-top: 120px;
  padding-bottom: 40px;
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    padding-top: 110px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 166px;
    padding-bottom: 65px;
  }
}

.products-item__desc {
    padding-bottom: 110px;
    padding-left: 42px;
    padding-right: 42px;
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
} */




.products-section {
  background-image: url(../images/2-Products/2-bg_sm.png); 
  @media screen and (min-width: 768px) {
    background-image: url(../images/2-Products/2-bg_md.png);
  }
    @media screen and (min-width: 768px) {
      background-image: url(../images/2-Products/3-bg_lg.png);
    }
}



.products {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: block;
    padding-bottom: 80px;
  }
  &__label {
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22 / 18);
  
  
    text-align: center;
    text-transform: uppercase;
  
    color: var(--secondary-text-color);

    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: calc(27 / 22);
      }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: calc(37 / 30);
      }
  }
  &__title {
    font-family: var(--secondary-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
  
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--secondary-text-color);

    margin-bottom: 148px;
    @media screen and (min-width: 768px) {
      margin-bottom: 200px;
      font-size: 34px;
      line-height: calc(43 /34);
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(45 / 36);
    }
  }
}



.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    
  }
}

.products-item {
  width: 280px;
  /* height: 420px; */
  border-radius: 24px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 224px;
    height: 428px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    /* height: 535px; */
  }
  &__title {
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--secondary-text-color);

    padding-top: 123px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: calc(27 / 22);
    }
    
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }
  &__desc {
    width: 200px;
    margin: 0 auto ;
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: var(--secondary-text-color);
    margin-bottom: 90px;


    @media screen and (min-width: 768px) {
      width: 170px;
      margin-bottom: 0;
    }
    
    
      @media screen and (min-width: 1200px) {
        width: 242px;
        font-size: 16px;
        line-height: calc(28 / 16);
      }
  }
}

.cream {
  background: var(--ice-cream-bgc);
  border: var(--ice-cream-border);
  @media screen and (max-width: 767px) {
    margin-bottom: 164px;
  }
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;
  
  
      width: 200px;
      height: 200px;
  
      background-image: url(../images/2-Products/pic1/horn_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
  
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic1/horn_md@1x.png);
        top: -100px;
        left: 11px;
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic1/horn_lg@1x.png);
        background-size: 300px 300px;
        width: 100%;
        height: 100%;
        top: -150px;
        left: 33px;
      }
    }
}

.cofee {
  background: var(--coffee-bgc);
  border: var(--coffee-border);
  @media screen and (max-width: 767px) {
    margin-bottom: 164px;
  }
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;
  
  
      width: 200px;
      height: 200px;
  
      background-image: url(../images/2-Products/pic2/cup_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
  
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic2/cup_md@1x.png);
        top: -100px;
        left: 11px;
  
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic2/cup_lg@1x.png);
        background-size: 300px 300px;
        width: 100%;
        height: 100%;
        top: -150px;
        left: 33px;
      }
    }
}

.shake {
  background: var(--milk-drinks-bgc);
  border: var(--milk-drinks-border);
  position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: 39px;
  
  
      width: 200px;
      height: 200px;
  
      background-image: url(../images/2-Products/pic3/shake_sm@1x.png);
      background-size: 200px 200px;
      background-repeat: no-repeat;
      border: none;
  
      @media screen and (min-width: 768px) {
        background-image: url(../images/2-Products/pic3/shake_md@1x.png);
        top: -100px;
        left: 11px;
      }
  
      @media screen and (min-width: 1200px) {
        background-image: url(../images/2-Products/pic3/shake_lg@1x.png);
        background-size: 300px 300px;
        width: 100%;
        height: 100%;
        top: -150px;
        left: 33px;
      }
    }
}

.product-btn {
  display: block;
  padding: 0%;
  margin: 0% auto 20px;
  
  background-color: transparent;
  border: none;
  
  @media screen and (min-width: 1200px) {
      margin: 0 auto 60px;
    }

}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  padding: 28px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
  }
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.modal__svg-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: rgba(19, 19, 19, 1);

  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__svg-btn {
  fill: rgba(248, 210, 78, 1);
}

.products-modal_titel {
  text-align: center;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: #131313;
  padding-bottom: 22px;
}

.products-modal_img-circle {
  text-align: center;
}

.circle {
  position: relative;
  display: inline-flex;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: rgba(174, 198, 165, 1);
}

.products-modal_img {
  position: absolute;
  width: 128px;
  border-radius: 50%;
  bottom: 7px;
}

.products-modal_contents {
  display: flex;
  padding-bottom: 39px;
  justify-content: center;
}

.products-modal_contents-item {
  position: relative;
  display: inline-flex;
  border-radius: 40px;
  border: 2px solid rgba(156, 190, 143, 1);
  gap: 9px;
  width: 53px;
  height: 72px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
    gap: 20px;
  }
}

.products-modal_contents-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-align: center;
  padding-top: 50px;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 65px;
  }
}

.products-modal_contents-item:not(:last-child) {
  margin-right: 9px;
}

.elips {
  position: absolute;
  top: -1px;
  right: 3px;
  background-color: #9cbe8f;
  border-radius: 50%;
  width: 43px;
  height: 43px;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    right: 4px;
  }
}

.span-text {
  padding-top: 8px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 12px;
  }
}

.products-modal_subtitel {
  /*text-decoration: none;*/
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: rgba(19, 19, 19, 1);
  padding-bottom: 24px;
}

.products-modal_subtitel-list {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 14);
  letter-spacing: 0.04em;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 11px;
}

.products-modal_subtitel-list:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 48px;
}

.products-modal__label:last-child {
  margin-bottom: 0px;
  padding-bottom: 32px;
}

.products-modal__label {
  margin-bottom: 16px;
  display: block;
  position: relative;
  text-align: center;
}

.products-modal__input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);

  @media screen and (min-width: 768px) {
    max-width: 368px;
  }
}

.products-modal__mesage {
  display: block;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 368px;
    margin: auto;
  }
}

.products-modal__btn {
  justify-content: center;
  background-color: rgba(248, 210, 78, 1);
  border-color: currentColor;
  border-radius: 10px;
  height: 42px;

  @media screen and (max-width: 767px) {
    max-width: 132px;
  }

  @media screen and (min-width: 768px) {
    max-width: 121px;
  }
}

.products-modal-submit {
  text-align: center;
}