.products-section {
  background-repeat: repeat;
  background-size: contain;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/2-Products/2-bg_sm.png);

  @media screen and (min-width: 768px) {
    background-image: url(../images/2-Products/2-bg_md.png);
    padding-bottom: 82px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/2-Products/3-bg_lg.png);
    padding-bottom: 66px;
  }
}

.products__label {
  font-family: var(--main-fonts);
  /* font-style: normal; */

  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);

  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.products__title {
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 148px;
  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
    margin-bottom: 303px;
  }
}

.products__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 164px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.products-item {
  position: relative;

  width: 280px;
  /* height: 420px; */
  border-radius: 24px;

  /* display: flex; */
  flex-direction: column;
  padding: 123px 40px 12px;
  @media screen and (min-width: 768px) {
    width: 224px;
    /* height: 428px; */
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    /* height: 535px; */
    padding: 166px 63px 53px;
  }
}

.cream {
  background-color: var(--ice-cream-bgc);
  &::before {
    content: '';
    min-width: 242px;
    min-height: 241px;
    background-image: url(../images/2-Products/pic1/horn_sm@1x.png);
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/2-Products/pic1/horn_sm@2x.png');
    }
  }
  @media screen and(min-width: 768px) {
    &::before {
      min-width: 239px;
      min-height: 237px;
      background-image: url(../images/2-Products/pic1/horn_md@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic1/horn_md@2x.png');
      }
    }
  }

  @media screen and(min-width: 1200px) {
    &::before {
      min-width: 363px;
      min-height: 361px;
      background-image: url(../images/2-Products/pic1/horn_lg@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic1/horn_lg@2x.png');
      }
    }
  }
}
.cofee {
  background: var(--coffee-bgc);
  &::before {
    content: '';
    min-width: 242px;
    min-height: 241px;
    background-image: url(../images/2-Products/pic2/cup_sm@1x.png);
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/2-Products/pic2/cup_sm@2x.png');
    }
  }

  @media screen and(min-width: 768px) {
    &::before {
      min-width: 239px;
      min-height: 237px;
      background-image: url(../images/2-Products/pic2/cup_md@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic2/cup_md@2x.png');
      }
    }
  }

  @media screen and(min-width: 1200px) {
    &::before {
      min-width: 363px;
      min-height: 361px;
      background-image: url(../images/2-Products/pic2/cup_lg@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic2/cup_lg@2x.png');
      }
    }
  }
}

.shake {
  background: var(--milk-drinks-bgc);
  &::before {
    content: '';
    min-width: 242px;
    min-height: 241px;
    background-image: url(../images/2-Products/pic3/shake_sm@1x.png);
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/2-Products/pic3/shake_sm@2x.png');
    }
  }

  @media screen and(min-width: 768px) {
    &::before {
      min-width: 239px;
      min-height: 237px;
      background-image: url(../images/2-Products/pic3/shake_md@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic3/shake_md@2x.png');
      }
    }
  }

  @media screen and(min-width: 1200px) {
    &::before {
      min-width: 363px;
      min-height: 361px;
      background-image: url(../images/2-Products/pic3/shake_lg@1x.png);
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/2-Products/pic3/shake_lg@2x.png');
      }
    }
  }
}
.products-item__title {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.products-item__desc {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);

  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.04em;

  color: var(--secondary-text-color);

  margin-bottom: 90px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(25 / 16);
  }
}
.cream-desc {
  @media screen and (min-width: 768px) {
    margin-bottom: 108px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 90px;
  }
}
.cofee-desc {
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}
.shake-desc {
  @media screen and (min-width: 768px) {
    margin-bottom: 83px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 66px;
  }
}

.product-btn {
  height: 40px;
  background-color: transparent;
  border: none;

  display: flex;
  outline: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  transition: opacity var(--anim);

  &:focus .arrow-icon__def {
    opacity: 0;
  }
  &:focus .arrow-icon__focus {
    opacity: 1;
  }
}
.arrow-icon {
  width: 40px;
  height: 40px;
  transition: opacity var(--anim);

  &:hover .arrow-icon__def {
    opacity: 0;
  }
  &:hover .arrow-icon__hover {
    opacity: 1;
  }

  &__hover {
    opacity: 0;
  }
  &__focus {
    opacity: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.skroll-to-product, franchise-modal,
.modal {
  overflow: auto;
}

.modal,
.modal-icecoffee,
.modal-milkshakes {
  max-height: 900px;
  padding: 28px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: opacity .25s linear, visibility .25s linear;
  @media screen and (max-width: 767px) {
    max-width: 280px;
    height: 100%;
  }
@media screen and (max-width: 1199px) {
  width: 568px;
  height: 100%;
}
  @media screen and (min-width: 768px) {
    width: 568px;
    /*max-width: 995px;*/
    height: 100%;
  }
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal__svg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(19, 19, 19, 1);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__svg-btn {
  fill: rgba(248, 210, 78, 1);
}

.products-modal_titel {
  text-align: center;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: #131313;
  padding-bottom: 22px;
}

.products-modal_img-circle {
  text-align: center;
}

.circle {
  position: relative;
  display: inline-flex;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: rgba(174, 198, 165, 1);
}

.products-modal_img {
  position: absolute;
  width: 128px;
  border-radius: 50%;
  bottom: 7px;
}

.products-modal_contents {
  display: flex;
  padding-bottom: 39px;
  justify-content: center;
}

.products-modal_contents-item {
  position: relative;
  display: inline-flex;
  border-radius: 40px;
  border: 2px solid rgba(156, 190, 143, 1);
  gap: 9px;
  width: 53px;
  height: 72px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
    gap: 20px;
  }
}

.products-modal_contents-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-align: center;
  padding-top: 50px;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 65px;
  }
}

.products-modal_contents-item:not(:last-child) {
  margin-right: 9px;
}

.elips {
  position: absolute;
  top: -1px;
  right: 3px;
  background-color: #9cbe8f;
  border-radius: 50%;
  width: 43px;
  height: 43px;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    right: 4px;
  }
}

.span-text {
  display: block;
  padding-top: 12px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 17px;
  }
}

.products-modal_subtitel {
  /*text-decoration: none;*/
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: rgba(19, 19, 19, 1);
  padding-bottom: 24px;
}

.products-modal_subtitel-list {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 14);
  letter-spacing: 0.04em;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 11px;
}

.products-modal_subtitel-list:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 48px;
}

.products-modal__label:last-of-type {
  margin-bottom: 0px;
  padding-bottom: 32px;
}

.products-modal__label {
  margin-bottom: 16px;
  display: block;
  position: relative;
  text-align: center;
}

.products-modal__input {
  width: 100%;
  height: 42px;
  padding-left: 16px;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);

  @media screen and (min-width: 768px) {
    max-width: 368px;
  }
}

.products-modal__mesage {
  display: block;
  resize: none;
  padding-top: 11px;
  padding-left: 16px;
  outline: transparent;
  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 368px;
    margin: auto;
  }
}

.products-modal__btn {
  justify-content: center;
  background-color: rgba(248, 210, 78, 1);
  border-color: currentColor;
  border-radius: 10px;
  height: 42px;

  @media screen and (max-width: 767px) {
    width: 132px;
  }

  @media screen and (min-width: 768px) {
    width: 121px;
  }
}

.products-modal-submit {
  text-align: center;
}


.active{
  background-color: #fcfcfc;
}

.no-active{
  background-color: #9cbe8f;
}